<div class="content" id="body_weight_record-<%= body_weight_record.id %>">
  <%= body_weight_record.weighed_at_text %>
  <%= link_to "delete", body_weight_record, method: :delete,
                                   data: { confirm: "You sure?" } %>
  <%= body_weight_record.weight_text %>
</div>
