<% provide(:title, "Body Weight Records") %>
<% provide(:heading_title, "Body Weight Records") %>
<% provide(:heading_subtitle, "All") %>

<section class="section">

  <% if @user.has_weight_records? %>
    <%= line_chart @user.thirty_day_weight_graph, ytitle: "Pounds", min: @user.graph_min_weight, max: @user.graph_max_weight%>
    <hr>
  <% end %>

  <%= render @records %>
  <% if @records.count > BodyWeightRecord.page_length %>
    <hr>
  <% end %>
  <%= will_paginate @records, renderer: BulmaPagination::Rails %>
</section>
