<% provide(:title, "Forgot password") %>
<% provide(:heading_title, "Forgot password") %>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-one-third">

      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= render "_components/forms/email_field", form: f  %>
        <%= render "_components/forms/submit", form: f %>
      <% end %>
      
    </div>
  </div>
</section>
