<div class="content" id="cardio-<%= cardio.id %>">
  <p class="title is-5">Previous:</p>

  <% if cardio.notes.present? %>
    <p class="subtitle is-6">
      Notes:
    </p>

    <%= simple_format(cardio.notes) %>
  <% end %>

  <hr>
</div>
