<% provide(:title, @cardio.friendly_name) %>
<% provide(:heading_title, @cardio.friendly_name) %>
<% provide(:heading_subtitle, 'Edit') %>
<% provide(:button_text, 'Save!') %>

<section class="section">
  <%= render 'form' %>
</section>
