<div class="content" id="martial_art-<%= martial_art.id %>">
  <%= link_to martial_art.friendly_type, martial_art_path(martial_art) %>
  <br>
  <%= time_and_date_text(martial_art) %>
  <br>
  <%= duration_and_location(martial_art) %>
</div>
