<div class="content" id="martial_art-<%= martial_art.id %>">
  <%= link_to martial_art.friendly_type, martial_art_path(martial_art), class: "type" %> -
  <%= martial_art.occurred_date.to_s %>
  <br>
  <%= simple_format(martial_art.notes) %>
</div>
