<li id="martial_art-<%= martial_art.id %>">
  <%= link_to martial_art.friendly_type, martial_art_path(martial_art), class: "type" %>
  <span class="timestamp">
    Perfomed <%= time_ago_in_words(martial_art.occurred_at) %> ago.
  </span>
  <br>
  <span class="content">
    <%= simple_format(martial_art.notes) %>
  </span>

</li>
