<% provide(:title, "Edit Martial Art") %>
<% provide(:button_text, 'Save Changes') %>

<section class="section">

  <h1 class='subtitle'>Update Martial Art</h1>

  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= render 'form' %>
    </div>
  </div>

</section>
