<% provide(:title, 'New Martial Art') %>
<% provide(:button_text, 'Save!') %>

<section class="section">

  <h1 class='subtitle'>Add a new martial arts entry</h1>

  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= render 'form' %>
    </div>
  </div>

</section>
