<% provide(:title, @lift.friendly_name) %>
<% provide(:heading_title, @lift.friendly_name) %>
<% provide(:heading_subtitle, 'New') %>
<% provide(:button_text, 'Save!') %>

<section class="section">




  <% if @previous_lift.present? %>
    <%= render 'previous', lift: @previous_lift %>
  <% end %>
  
  <%= render 'form' %>


</section>
