<% provide(:title, 'Edit Round') %>
<% provide(:button_text, 'Save') %>

<section class="section">

  <h1 class='subtitle'>Edit this round</h1>

  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= render 'form' %>
    </div>
  </div>

</section>
