<% provide(:title, "Edit user") %>
<% provide(:heading_title, @user.name) %>
<% provide(:heading_subtitle, "Update your profile") %>
<% provide(:button_text, 'Save Changes') %>


<section class="section">

  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= render 'form' %>
      <br>
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
      </div>
    </div>
  </div>

</section>
