<% provide(:title, 'All Users') %>
<% provide(:heading_title, 'All Users') %>

<section class="section">
  <%= will_paginate @users, renderer: BulmaPagination::Rails%>
  <br><br>
  <%= render @users %>
  <br>
  <%= will_paginate @users, renderer: BulmaPagination::Rails %>
</section>
