<% provide(:title, 'All Users') %>
<% provide(:heading_title, 'All Users') %>

<section class="section">
  <%= render @users %>
  <% if @users.count > User.page_length %>
    <hr>
  <% end %>
  <%= will_paginate @users, renderer: BulmaPagination::Rails %>
</section>
