<% provide(:title, 'All users') %>

<section class="section">
  <h1 class='subtitle'>All users</h1>

  <%= will_paginate @users, renderer: BulmaPagination::Rails%>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate @users, renderer: BulmaPagination::Rails %>
</section>
