<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<section class="hero is-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Sign Up
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <%= render 'form' %>
    </div>
  </div>
</section>
