<% provide(:title, @user.name) %>
<% provide(:heading_title, @user.name) %>

<section class="section">
  <div class="columns">
    <div class="column is-one-third">
        <figure class="image is-96x96">
          <%= gravatar_for(@user, size: 96) %>
        </figure>
    </div>
  </div>
</section>
