<div class="box">
  <h4 class="title is-4">Add Entries</h4>
  <hr>
  <div class="buttons">
    <%= link_to "Martial Arts", new_martial_art_path, class: "button is-link" %>
  </div>

  <% if @lift_choices.any? %>
    <hr>
    <div class="buttons">
      <% @lift_choices.each do |lc| %>
        <%= link_to lc.friendly_name, new_lift_path(lift_choice_id: lc.id), class: "button is-link" %>
      <% end %>
    </div>
  <% end %>

  <% if @cardio_choices.any? %>
    <hr>
    <div class="buttons">
      <% @cardio_choices.each do |cc| %>
        <%= link_to cc.friendly_name, new_cardio_path(cardio_choice_id: cc.id), class: "button is-link" %>
      <% end %>
    </div>
  <% end %>
</div>
