<section class="section">

  <div class="columns">
    <div class="column is-one-third">
      <%= render 'stats_box' %>
      <%= render 'add_button_box' %>
    </div>

    <% if @feed_items.any? || @current_program %>
      <div class="column">
        <%= render 'program_box' if @current_program %>
        <%= render 'shared/feed' if @feed_items.any? %>
      </div>
    <% end %>
  </div>
</section>
