<section class="section">

  <div class="columns">
    <div class="column is-one-third">
      <%= render 'stats_box' %>
      <%= render 'add_button_box' %>
    </div>

    <% if @feed_items.any? %>
      <div class="column">
        <%= render 'shared/feed' %>
      </div>
    <% end %>
  </div>
</section>
