<div class="center jumbotron">
  <h1>Logging Progress</h1>

   <h2>
    This is the home page for the simple training log.
  </h2>

  <%= link_to "Click here to sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
