<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="martial_art_button">
      <%= link_to "Martial Arts Entry", new_martial_art_path, class: "btn btn-primary" %>
    </section>

  </aside>

  <div class="col-md-8">
    <h3>Workout Feed</h3>
    <%= render 'shared/feed' %>
  </div>

</div>
