<% provide(:title, "Lift Calculations") %>
<% provide(:heading_title, "Lift Calculations") %>
<% provide(:heading_subtitle, "Result") %>

<section class="section">
  <%= render 'plate_calculation' %>
</section>
