<% confirmation = local_assigns.fetch(:confirmation, false) %>

<% attribute = confirmation ? :password_confirmation : :password  %>
<% label_text = confirmation ? "Password Confirmation" : "Password" %>

<div class="field">
  <%= form.label attribute, label_text, class: 'label' %>
  <div class="control">
    <%= form.password_field attribute, class: 'input', type: 'password' %>
  </div>
</div>
