<% provide(:title, "Training Programs") %>
<% provide(:heading_title, "Training Programs") %>
<% provide(:heading_subtitle, "Edit") %>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <%= render 'form' %>
    </div>
  </div>
</section>
